{% extends "base.html" %}

{% block head %}
    <link rel="icon" href="{{ url_for('static', filename='img/icons/index.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}

{% block main %}
    <main>
        <h1 class="site-title">School Project</h1>
        <p class="site-subtitle">Ваш помощник в поиске информации</p>
        <div class="buttons-container">
            <a href="/search" class="btn-main search-btn">Кнопка</a>
            <a href="/tablo" class="btn-main table-btn">Другая кнопка</a>
            {% if current_user.is_authenticated %}
                <a href="/favorites" class="btn-main favorite-btn">Избранное</a>
            {% endif %}
        </div>
    </main>

    <footer>
        <p class="authors">Авторы: Белкин А. и Чайковская М.</p>
    </footer>
{% endblock %}